/* Colores:
https://www.canva.com/colors/color-palettes/summer-splash/
https://app.beefy.finance/
*/
*{
    box-sizing: border-box;
}

#MainPage{
    width: 100%;
}

nav, footer {
    /* background-color: rgba(16, 16, 16, 0.82);
    background-color: #05445E; */
    background-color: #2d3153;
    /* background-color: #31c77f; */
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > a, footer > a {
    color: whitesmoke;
    text-decoration: none;
}

nav > a:hover, footer > a:hover {
    color: #189AB4;
}

#Content {
    min-height: 86vh;
}

.pricing{
    border: 1px solid black;
    background-color: whitesmoke;
}

.carousel-item {
    max-height: 50vh;
    overflow: hidden;
    margin-top: 1rem;
}

.carousel-caption {
    background-color: #0000008f;
}

#ConnectButton {
    position: absolute;
    translate: 25rem;
    max-width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

#NoNetworksMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#FormCrearRed {
    align-items: flex-end;
}

.cursorPointer {
    cursor: pointer;
}